.app {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  .example-container {
    flex: 1 1 auto;
    .example-sidenav {
      padding: 20px;
    }
    .example-sidenav-content {
      display: flex column;
      align-items: center;
      justify-content: center;
    }
  }
}
