<mat-list class="navigation-wrapper">
  <div mat-subheader>Navegación</div>
  <a
    class="navigation-link"
    mat-list-item
    routerLink=""
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <div matListItemTitle matListItemTitle>Home</div>
  </a>
  <a
    class="navigation-link"
    mat-list-item
    routerLink="buttons"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>people</mat-icon>
    <span matListItemTitle>Botones</span></a
  >
  <div mat-subheader>Lista normal</div>
  <mat-list-item>Pepper</mat-list-item>
  <mat-list-item>Salt</mat-list-item>
  <mat-list-item>Paprika</mat-list-item>
</mat-list>
