
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$mat-custom-primary: (
  50 : #f4e9ef,
  100 : #e3c8d6,
  200 : #d0a3bb,
  300 : #bd7e9f,
  400 : #af638b,
  500 : #a14776,
  600 : #99406e,
  700 : #8f3763,
  800 : #852f59,
  900 : #742046,
  A100 : #ffb3d3,
  A200 : #ff80b6,
  A400 : #ff4d99,
  A700 : #ff338a,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

// Define the custom palettes.
$custom-primary: mat.define-palette($mat-custom-primary);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// Define the theme object.
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
  )
));

// Include the theme styles for Angular Material components.
@include mat.all-component-themes($custom-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 16px }

.page-header {
  padding: 1rem 2rem;
}

.page-content {
  padding: 1rem 2rem;
}
